[Unit]
Description=Nano ML.
After=multi-user.target
 
[Service]
Type=simple
User=nano
ExecStart=/usr/bin/python3 /home/nano/nano-ml/api.py
 
[Install]
WantedBy=multi-user.target
